---
name: CI

on:
  push:
    branches:
      - "**"

jobs:
  run-checks:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: ${{ github.event.repository.name }}:${{ github.sha }}
          load: true
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run pytest
        run: |
          docker run --rm \
            -e AWS_DEFAULT_REGION=us-east-1 \
            ${{ github.event.repository.name }}:${{ github.sha }} \
            -- pytest tests/unit
